[Unit]
Description=PostgreSQL Role Check Service
After=network.target
Documentation=https://github.com/garnser/pgrolecheck/blob/main/README.md

[Service]
Type=notify
User=postgres
Group=postgres
ExecStart=/usr/local/bin/pgrolecheck
Restart=on-failure

[Install]
WantedBy=multi-user.target
